/*instal fonts*/
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  /* src: url("../IBM_Plex_Sans/IBMPlexSans-Light.ttf"); */
}
@font-face {
  font-family: "IBM Plex Sans Light";
  src: url("../IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  /* src: url("../IBM_Plex_Sans/IBMPlexSans-Light.ttf"); */
}

* {
  margin: 0;
  padding: 0;
  /* padding: 0;
    box-sizing: border-box; */
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
  /* box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.5); */
}
header a {
  text-decoration: none;
  /* color: #000000; */
}

header .nav {
  /* display: flex; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  /* margin-top: 32px; */
  margin-left: 260px;
}
header ul li {
  list-style: none;
  /* display: inline-block; */
}
header ul li a:hover {
  /* color: rgba(243, 250, 53, 0.863); */
  /* color: rgb(38, 38, 196); */
  color: #1a7ad9;
  /* text-decoration: underline; */
  transition: all 0.3s ease-in-out;
}
.active {
  color: #1a7ad9;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

header li a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
  font-family: "IBM Plex Sans";
  text-decoration: none;
  font-weight: 500;
}

/* header .login a {
  color: #0053a6;
} */
header .login {
  /* display: flex; */
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  /* padding: 0px;
  gap: 58px; */
  gap: 10px;
  margin-top: 20px;
  /* margin-right: 20px; */
  margin-left: 255px;
  /* color: #021718; */
  /* margin-right: 30px; */
}
header .login button#masuk {
  background-color: #1a7ad9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: 500;
  /* cursor: pointer; */
  /* transition: all .3s ease-in-out; */
}
header .login button#daftar {
  background-color: #ffffff;
  color: #1a7ad9;
  border: 1px solid #1a7ad9;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 500;
  /* cursor: pointer; */
  /* transition: all .3s ease-in-out; */
}
/* header .nav ul {
    float: left;
    margin-right: 100px;
} */

/* breadcrumb */
.breadcrumb-nav {
  margin-left: 100px;
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.breadcrumb-nav ol li a {
  text-decoration: none;
}

/* sub menu */
.dropbtn {
  /* display: inline-block; */
  /* color: white; */
  text-align: center;
  /* padding: 14px 16px; */
  //text-decoration: none;
}
.dropdown:hover .dropbtn {
  /* background-color: #c85250; */
  transition: all 0.5s ease;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -45px;
  text-align: center;
}
.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  /* text-align: center; */
}
.dropdown-content a:hover {
  /* background-color: #f85f5f; */
  background: #1a7ad9;
  color: white;
  /* background: white;
  color: #1a7ad9; */
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* slider */
.slider {
  width: 100%;
  height: 640px;
  background: linear-gradient(
    175.1deg,
    rgba(192, 223, 255, 0.1) 9.24%,
    rgba(192, 223, 255, 0.25) 30.21%
  );
}
.slider img {
  width: 550px;
  position: absolute;
  right: 0px;
  bottom: 15px;
  /* object-fit: none; */
  /* object-position: right top; */
}
.slider-text {
  margin-left: 100px;
  padding-top: 190px;
}
.slider-text p {
  width: 500px;
}

/* diskusi */
.grup-diskusi {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.diskusi {
  width: 287px;
  height: 360px;
  background: #ebf5ff;
  border-radius: 10px;
}

.grup-diskusi-test {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.grup-diskusi-test .diskusi {
  width: 287px;
  height: 37px;
  background: #ebf5ff;
  border-radius: 10px;
  margin-right: 56px;
}

.banner-diskusi img {
  /* width: 287px; */
  height: 130px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  /* position: relative; */
  /* display: block; */
  /* position: absolute; */
  /* border: 3px solid #3E9EFF; */
  /* background: url(img/komunitas/berat badan ideal.webp); */
  /* height: 344px; */
}
.diskusi > img {
  /* background: url(img/komunitas/berat badan ideal.webp); */
  position: relative;
  border-radius: 50%;
  border: 3px solid #3e9eff;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: 10px;
  /* text-align: center; */
}
.diskusi h4 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.diskusi .detail {
  margin-left: 26px;
  margin-right: 26px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* margin: 0px 20px; */
}
.diskusi .detail h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0px;
  /* line-height: 23px; */
}
.diskusi .detail p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.diskusi button {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 36px;
  background: #1a7ad9;
  color: #ffffff;
}
.diskusi button:nth-child(2) {
  background: #ffb122;
}

.diskusi .button {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

/* halaman diskusi */
.header-diskusi {
  height: 320px;
  width: 100%;
}

.header-diskusi > img#header-diskusi {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(50%);
  filter: brightness(50%);
  /* border-radius: 10px 10px 0px 0px; */
}
.header-diskusi > img#avatar {
  /* position: absolute; */
  border-radius: 50%;
  border: 3px solid #3e9eff;
  width: 130px;
}

/* halaman kategori */
.header-kategori {
  height: 250px;
  /* width: 100%; */
  /* color: blue; */
  /* background: #FFE6B7; */
  background: rgba(255, 230, 183, 0.6);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
}
.header-kategori > img {
  border-radius: 50%;
  border: 3px solid #3e9eff;
  width: 130px;
  margin-left: 100px;
  margin-top: 60px;
}
.header-kategori > h3 {
  display: absolute;
  margin-left: 280px;
  margin-top: -130px;
  font-weight: 500;
  font-size: 30px;
  color: #003a73;
  /* margin-top: 100px; */
}
.header-kategori p {
  font-family: "IBM Plex Sans Light";
  /* font-weight: 500; */
  width: 580px;
  margin-left: 280px;
  font-size: 18px;
}

/* artikel */
.nav {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
}

.logo {
  margin-left: 50px;
  /* margin-top: 32px; */
  font-size: 34px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  display: flex;
}
.logo #halo {
  /* font-size: 34px; */
  color: #3e9eff;
}
.logo #sehat {
  color: #0053a6;
}

/* .nav{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
} */

/* artikel */
.artikel {
  width: 100%;
  height: 201px;
  background: rgba(192, 223, 254, 0.5);
  opacity: 1;
  /* position: absolute; */
  top: 109px;
  /* left: 0px; */
  overflow: hidden;
}

.artikel span {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  position: relative;
  color: #003a73;
  margin: auto;
  /* padding: 30px; */
}

.artikel span p {
  padding-top: 30px;
  justify-content: center;
  /* height: 47px; */
  /* font-family: 'IBM Plex Sans'; */
}
/* width: 112px; */
/* height: 47px; */
/* text-align: center; */
/* left: 664px;
top: 149px; */
/* margin-left: auto;
  margin-right: auto; */

section .search {
  margin-top: 30px;
  margin-left: 100px;
  /* margin-right: 100px; */
}
/* section .search i{
  margin-left: 10px;
} */
.search .search-bar {
  padding-left: 50px;
  /* margin-left: 100px; */
}
.search .search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 50px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  pointer-events: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  /* trasparancy: 0.5; */
}

section .search input {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  /* position: absolute; */
  width: 1180px;
  height: 52px;
  top: 218px;
  /* margin-left: 100px; */

  background: #ffffff;
  line-height: 29px;
  border: none;
  padding-left: 20px;
  border-radius: 8px;
}

section .search button {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  border-radius: 8px;
  border: none;
  width: 107px;
  height: 52px;
  background: #1a7ad9;
  color: #ffffff;
  margin-left: 10px;
  /* margin-right: 100px; */
  /* left: 1233px; */
  /* top: 218px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 10px; */
  /* gap: 10px; */
}

.kategori {
  /* line-height: 39px; */
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kategori > p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  color: #003a73;
  font-weight: 500;
  font-size: 30px;
}
.kategori #other {
  text-decoration: none;
}
.kategori #other p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #277fd8;
}

/* card */
.card-kategori {
  /* display: flex; */
  margin-left: 100px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 100px;
  /* padding: 0px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

.card {
  /* display: flex; */
  width: 147px;
  /* height: 600px; */
  border-radius: 10px;
  /* border: 1px solid #C4C4C4; */
  /* margin-right: auto; */

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  /* flex: none; */
}
.cards .card {
  height: 180px;
  margin-bottom: 20px;
}
.cards .card a {
  text-decoration: none;
  color: #000;
}
.cards .card a:hover {
  text-decoration: none;
  color: #3e9eff;
}

.card img {
  width: 100px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* width: 50%; */
}

.card p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  /* padding-bottom: 20px; */
}

.banner-title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  /* line-height: 39px; */
  color: #003a73;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.banner {
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 100px;
  /* padding: 0px; */
  /* flex-direction: row; */

  justify-content: space-between;
}

.banner-point {
  width: 290px;
  height: auto;
  /* border-radius: 10px; */
  /* border: 1px solid #C4C4C4; */
  /* margin-right: auto; */
  background: #ebf5ff;
  /* border-radius: 20px; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.banner .banner-point img {
  width: 290px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.banner .banner-point h4 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

  /* line-height: 26px; */
}

.banner .banner-point p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 20px;
}

/* profil dokter */
.container-profil {
  display: flex;
  margin-left: 150px;
  margin-top: 100px;
  margin-right: 100px;
  /* padding: 0px; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
}
.isi-profil {
  /* flex: 4; */
  /* position: relative; */
  /* margin-left: 100px; */
  /* margin-right: 30px; */
  width: 70%;
}
.poin-profil {
  /* flex: 1; */
  /* margin-bottom: 20px; */
  line-height: 40px;
}
.poin-profil h4 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 16px;
}

.poin-profil p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  /* margin-bottom: 22px; */
}

.container-card {
  width: 30%;
  margin-left: 60px;
  /* display: block;
  float: right; */
}
.card-dokter {
  /* flex: 2; */
  width: 320px;
  height: 400px;
  background: #ebf5ff;
  border-radius: 10px;
  /* flex: 1; */
  padding: 20px;
  margin-bottom: 10px;
}
.container-card #button-ask {
  /* width: 100%; */
  width: 320px;
  background-color: #3e9eff;
  font-size: 18px;
  border-style: none;
  /* font-family: "IBM Plex Sans"; */
}
.container-card #button-ask:hover {
  background-color: #1a7ad9;
}

.card-dokter img {
  width: 180px;
  /* height: 70px; */
  border-radius: 50%;
  border: 3px solid #3e9eff;
  /* justify-content: center; */

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: 50%; */
  /* align-items: center; */
  /* margin-left: auto;
  margin-right: auto; */
  /* float: left;
  margin-right: 20px; */
}
.card-dokter h4 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}
.card-dokter p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  /* padding-bottom: 20px; */
}

/* obat */
.nav-artikel ul li {
  list-style: none;
  line-height: 40px;
  /* gap: 100px; */
  /* margin-left: 80px; */
}
.nav-artikel ul li a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
/* .nav-artikel ul li a:hover {
  color: #0053a6;
  background-color: #ebf5ff;
} */

.penulis-artikel div p {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

/* artikel obat */
.judul-artikel h3 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  /* line-height: 39px; */
  /* color: #003a73; */
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  /* margin-left: 100px;
  margin-right: 100px; */
  /* margin-bottom: 40px; */
  /* text-align: center; */
}
.judul-artikel-obat h3 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  /* line-height: 39px; */
  /* color: #003a73; */
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  /* margin-left: 100px; */
  /* margin-left: 100px;
  margin-right: 100px; */
  /* margin-bottom: 40px; */
  /* text-align: center; */
}
.container-artikel {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 100px;
  /* padding: 0px; */
  /* flex-direction: row; */
  justify-content: space-between;
  /* background-color: #ebf5ff; */
}
.nav-artikel .map-obat li a:hover {
  color: #0053a6;
}

.nav-artikel li {
  /* line-height: 40px; */
  margin-bottom: 14px;
}
.nav-artikel {
  flex: 1;
  position: fixed;
  padding: 20px 40px 10px 10px;
  background-color: #ebf5ff;
  /* z-index: -1; */
  /* height: 100vh; */
  border-radius: 16px;
}
.isi-artikel {
  flex: 3;
  /* position: relative; */
  padding-left: 220px;
}
.isi-artikel-nomap {
  flex: 4;
  /* position: relative; */
  margin-left: 100px;
  padding-right: 100px;
}
.penulis-artikel {
  /* width: 259px; */
  height: 140px;
  background: #ebf5ff;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
}
.isi-artikel {
  /* display: flex; */
  margin-left: 50px;
  /* margin-top: 30px; */
  margin-right: 50px;
  /* padding: 0px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}
.poin-artikel {
  /* flex: 1; */
  margin-bottom: 50px;
  /* line-height: 40px; */
}
.poin-artikel h4 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  /* margin-bottom: 10px; */
}
.poin-artikel h5 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-top: 16px;
}
.poin-artikel p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 22px;
}

/* dokter */
.dokter {
  display: flex;
  margin-top: 30px;
  /* margin-bottom: 50px; */
  margin-left: 100px;
  margin-right: 100px;

  justify-content: space-between;
}

.info-dokter {
  width: 390px;
  /* height: 140px; */
  display: flex;
  background: rgba(192, 223, 255, 0.5);
  border-radius: 10px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 20px 18px 20px;
  /* margin-top: 30px; */
}

.info-dokter img {
  height: 100px;
  /* width: 100px; */
  /* text-align: center; */
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding-top: 20px; */
  border-radius: 50%;
  /* margin: auto; */
  /* position: absolute; */
  /* width: 50%; */
}

.detail-dokter {
  margin-left: 18px;
  margin-top: 14px;
  /* top: 0; */
}

.detail-dokter h4 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* vertical-align: text-top; */
  /* top: 0; */
  /* line-height: 26px; */
  /* display: flex;
  align-items: flex-end; */
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 4px;
}
.detail-dokter a {
  text-decoration: none;
  /* color: #000000; */
}

.detail-dokter p {
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.detail-dokter h5 {
  flex: none;
  font-family: "IBM Plex Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /* line-height: 18px; */
  /* color: #003A73; */
  margin-top: 24px;
  /* bottom: 0; */
  color: #277fd8;
  /* justify-content: flex-end; */
  text-align: right;
}

/* Hasil pencarian artikel */
.text-keyword {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.text-keyword p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.hasil-pencarian {
  /* align-items: center; */
  /* display: flex; */
  /* margin-top: 40px; */
  /* margin-left: 100px;
  margin-right: 100px; */
  /* justify-content: space-between; */
}

/* .hasil-pencarian-test {
  display: flex;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
} */
.hasil-pencarian-test .hasil-artikel {
  /* position: absolute; */
  width: 360px;
  height: 284px;
  /* margin-top: 60px; */
  margin-bottom: 80px;
  margin-right: 84px;
}

.hasil-artikel {
  /* position: absolute; */
  max-width: 360px;
  height: 310px;
  margin-bottom: 70px;
  /* margin-top: 60px; */
  /* padding-bottom: 80px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
}
.hasil-artikel a,
.hasil-artikel a:visited {
  text-decoration: none;
  color: #000000;
}
.hasil-artikel img {
  /* width: 380px; */
  height: 240px;
  /* max-height: 240px; */
  /* height: auto; */
  border-radius: 10px;
  /* height: 130px; */
  max-width: 360px;
  object-fit: cover;
}
.hasil-artikel > .grup-detail {
  display: flex;
  gap: 10px;
}
.hasil-artikel h3 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  max-width: 360px;
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
  overflow: hidden;
  max-height: 52px;
  /* display: -webkit-box; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hasil-artikel > .grup-detail p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #d68d06;
  /* margin-top: 6px; */
}
.hasil-artikel .grup-detail p:nth-child(2),
.hasil-artikel .grup-detail p:nth-child(3) {
  color: rgba(0, 0, 0, 0.4);
}

/* footer */
footer {
  display: flex;
  /* height: 532px; */
  background: #003a73;
  opacity: 1;
  /* position: absolute; */
  top: 109px;
  /* left: 0px; */
  overflow: hidden;
  /* margin-left: 100px;  */
  /* margin-right: 100px;  */
  padding-bottom: 30px;
  margin-top: 100px;
}

footer section {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* width: 50%; */
  /*align-items: center;
  padding: 0px;
  gap: 58px;
  margin-top: 32px;
  /* margin-right: 30px;  */
  margin-left: 100px;
  /* margin-left: 350px; */
  /* margin-right: 100px; */
}

footer section ul {
  list-style: none;
  /* display: inline-block; */
  margin: 0;
  padding: 0;
}

footer .kiri {
  margin-top: 50px;
  /* margin-left: 100px; */
  flex: 3;
}

footer .kiri #logo {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  color: #ffffff;
}

footer .kiri p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* padding-right: 200px; */

  /* width: 374px; */
  /* width: 30%; */
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 125px;
}

footer .kiri #medsos {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #c0dfff;

  /* primary/20 */

  /* padding-top: 100px; */
  /* margin-bottom: 100px; */
}

footer .kiri #icon-medsos {
  margin-top: 20px;
  /* padding: 20px; */
  /* margin-bottom: 100px; */
}
footer .kiri #icon-medsos a {
  text-decoration: none;
}

footer .kiri #icon-medsos img {
  /* gap: 200px; */
  width: 50px;
  /* margin: 10px; */
  margin-right: 16px;
}

footer .tengah {
  /* margin-left: 100px; */
  margin-top: 50px;
  /* padding-left: 10px; */
  flex: 2;
}
footer .tengah span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #c0dfff;
}

footer .tengah ul,
footer .kanan ul {
  /* position: relative; */
  /* display: inline-block; */
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 18px;
  /* line-height: 23px; */
  margin-top: 30px;
  color: #ffffff;
}

footer .tengah ul li,
footer .kanan ul li {
  margin-top: 12px;
  /* gap: 100px;
  line-height: 25px; */
}

footer .kanan {
  /* margin-left: 100px; */
  margin-top: 50px;
  flex: 4;
}
footer .kanan ul {
  /* position: relative; */
  /* display: inline-block; */
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
}

footer .kanan span {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 25px; */
  color: #c0dfff;
}

.foot {
  background-color: #003a73;
}

.garis-footer {
  border-bottom: 2px solid #ffffff;
  /* opacity: 0.2; */
  /* border-top: 1px solid white; */
  margin-left: 100px;
  margin-right: 100px;
  /* background: #003a73; */
}

section.bottom {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 23px; */
  padding-top: 30px;
  padding-bottom: 30px;

  color: #ffffff;
  background: #003a73;
  text-align: center;
}

/* pencarian obat */
.abjad {
  /* font-size: 18px;
  margin-left: 100px;
  margin-right: 100px; */
  display: flex;
  /* flex-wrap: nowrap; */
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 36px;
  margin-bottom: 20px;
  padding: 0px 10px;
  border-radius: 6px;
}

.abjad a {
  background-color: rgba(0, 0, 0, 0.04);
  /* background-color: red; */
  font-family: "IBM Plex Sans";
  font-style: normal;
  /* font-weight: 550; */
  width: 40px;
  /* height: 40px; */
  margin: 8px;
  /* color: blue; */
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 33px;
  font-size: 18px;
}
.abjad a {
  text-decoration: none;
}

.abjad a:hover {
  /* background-color: #c0dfff; */
  /* background-color: red; */
  background-color: #73b9ff;
  border-radius: 6px;
  color: white;
}
.abjad > a:visited {
  /* background-color: #c0dfff; */
  /* color: rgba(0, 0, 0, 0.8); */
  /* color: red; */
}
/* .nama-obat {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
} */
.judul-artikel-obat {
  /* margin-left: 100px;
  margin-right: 100px; */
  /* margin-top: 40px; */
  text-align: center;
  background-color: #c0dfff;
  /* flex-wrap: nowrap; */
  /* margin-top: 36px;
  padding: 0px 10px;
  border-radius: 6px; */
}

/* .nama-obat .container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 20px;
}
.nama-obat .container a {
  text-decoration: none;
}
.nama-obat .container p {
  font-family: "IBM Plex Sans Light";
  width: 300px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}
.nama-obat .container p:visited {
  color: #000000;
} */

.nama-obat div a {
  font-family: "IBM Plex Sans Light";
  text-decoration: none;
  color: black;
  /* margin-top: 120px; */
}
.nama-obat div {
  margin-top: 10px;
}
